<body background="https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2018/04/2018-pulitzer-prize-photography-winners-announced.jpg" 
style="padding: 5%;">

    <h2 style="color: aliceblue; text-align: center;padding-top: 30px; font-size: 40px; margin-left: 55%;"> Login Yourself </h2>
    <h3 style="text-align: center; color: aliceblue; margin-left: 58%;"> To The Most Awaited Photographic Session And Contest Of All Time</h3>

    <form class="login-form">
        <div>
            <label style="color: aliceblue;"><b> Username Or Email :  </b> </label>
           <b> <input type="email" placeholder="abc@gmail.com" ngModel="uname" /></b>
        </div>


        <div style="margin-top: 40px;">
            <label style="color: aliceblue;"><b> Password :  </b> </label>
          <b>  <input type="password" placeholder="**********" ngModel="uname" /></b>
        </div>

    </form>


    </body>

