
<!--h1 class="header1"><b> Register Yourself ..!!</b></!--h1>-->
<marquee class="header1" direction="left"> 
    Register Yourself...!!! GET YOURSELF A PLATFORM TO PERFORM ..! NO JUDGEMENT JUST INTEREST..!! BE A PHOTOGRAPHER !!!!

</marquee>

<body background="https://www.viewbug.com/media/mediafiles/2015/10/25/59835271_large.jpg" class="bodyy">
    


<form class="form_at_centre" (click)="registered()" >

    <div >
   <label ><b> First Name : </b></label>
   <input type="text" placeholder="First Name"  ngModel="fname" class="input-pno2"/>
    </div>

    <div style="margin-top: 20px;" >
        <label><b> Last Name : </b></label>
        <input type="text" placeholder="Last Name"  ngModel="lname" class="input-pno2"/>
    </div>

    <div style="margin-top: 20px;" >
    <label><b> Phone Number : </b></label>
    <input type="text" placeholder="10-Digit" class="input-pno2"  ngModel="phnno" />
    </div>

    <div style="margin-top: 20px;" >
        <label><b> Email Id : </b></label><br>
        <input type="text" placeholder="abc@mail.com"  ngModel="email" class="input-pno2"/>
    </div>

    <div style="margin-top: 20px;" >
        <label><b> Password : </b></label>
        <input type="text" placeholder="abc@mail.com"  ngModel="email" class="input-pno2"/>
    </div>

    <div>
        <nav>
       <button class="submitbtn" ><b>   Submit    </b></button>
    </nav>
    </div>

</form>
</body>